
body{
  margin: 0;
}
 header,footer{
  text-align: center;
  background-color:#000000;
  font-family: 'Yusei Magic', sans-serif;
padding:1%;
color: white;
}

main{
  /* text-align: center; */
  margin: auto;
  padding: 15px;
  max-width: 600px;
  font-family: 'Montserrat', sans-serif;
}

textarea{
    margin-top: 2rem;
}
#outputText,textarea{
    display: block;
    width: 100%;
    min-height: 35vh;
    border:2px solid #003873;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
}
button{
  padding: 2% 7%;
  margin:2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color:#000000;
  color: #ffffff;
  border: none;
}
